<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    
    <!-- Page Title -->
    <title>NoMoreScamTricks | Home</title>
    <!-- Favicon -->
    <link href="{{ url_for('static', filename='resources/images/shield_tab_icon.png') }}" rel="icon">
    <!-- Bundle -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bundle.min.css') }}">
    <!-- Plugin Css -->
    <link href="{{ url_for('static', filename='css/wow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/LineIcons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/cubeportfolio.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/line-awesome.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- Style Sheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<!-- Start Header -->

<header id="home">
  <nav class="navbar bg-black navbar-top-default navbar-expand-lg navbar-simple nav-line">
      <div class="container-fluid"> 
          <!-- Navbar items -->
          <div class="collapse navbar-collapse" id="navheader">
              <div class="navbar-nav ml-auto mr-auto">
                <a href="{{ url_for('index') }}" class="navbar-brand mr-4">
                  <img src="{{ url_for('static', filename='resources/images/shield_yellow.png') }}" alt="LOGO IMAGE">
              </a>
                  <a class="nav-link line" data-nav href="{{ url_for('index') }}#home">Home</a>
                  <a class="nav-link line" data-nav href="{{ url_for('scam') }}#scam">Scam Quiz</a>
                  <a class="nav-link line" data-nav href="{{ url_for('detect_scam') }}#detect_scam">Scam Detector Tool</a>
                  <a class="nav-link line" data-nav href="{{ url_for('checkemail') }}#checkemail">Check Email Leak</a>
                  <a class="nav-link line" data-nav href="{{ url_for('checkurl') }}#checkurl">Check URL</a>
                  <a class="nav-link line" data-nav href="{{ url_for('resources') }}#resources">Resources</a>
              </div>
          </div>
      </div>
  </nav>
</header>


<!-- End Header -->



<!-- Start Home -->
<!-- Start Home -->
<section class="home bg-black" id="home" style="position: relative; overflow: hidden; min-height: 90vh;">
  <!-- Video as background -->
  <video autoplay loop muted playsinline style="position: absolute; top: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
      <source src="static/resources/videos/background1.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>

  <!-- Title -->
  <style>
   .transparent-container {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    padding: 40px 20px;
    border-radius: 10px;
    width: 55%;
    margin: 0 auto;
    margin-top: 2%;
    min-height: 350px;

    /* Define a CSS variable that's 1% of the container's width */
    --width-percentage: 1vw;  /* Adjusted for simplicity. You can replace this with a calc method if needed. */

    /* This will make the h1 font size approximately 5% of the container's width */
    --h1-size: calc(3 * var(--width-percentage));
    
    /* This will make the p font size approximately 3% of the container's width */
    --p-size: calc(1 * var(--width-percentage));
}

.title-home {
    text-align: center;
    white-space: nowrap;
    overflow-wrap: break-word; /* Ensures that long words can break and wrap onto the next line */
}

.title-home h1.title-h1 {
    font-size: var(--h1-size);
    /* Defining min and max font-size ensures the text doesn't become too small or too large */
    min-font-size: 30px;
    max-font-size: 50px;
    font-weight: 700;
}

.title-home p {
    font-size: var(--p-size);
    min-font-size: 14px;
    max-font-size: 25px;
    white-space: wrap;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .transparent-container {
        width: 90%;
        padding: 20px 10px; /* Reduce padding for smaller screens */
    }
}

/* Media query for medium-sized screens (e.g., tablets) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .transparent-container {
        width: 80%;
    }
}




</style>

<div class="transparent-container">
    <div class="title-home">
        <h1 class="title-h1">Are you being scammed?</h1>
        
        <!-- Flexbox container for p and a elements -->
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;">
            <p style="font-size: 25px; font-weight: 500; margin: 0;">Unsure about a message you received? Wondering if it's a scam?</p>
            <a href="{{ url_for('detect_scam') }}#detect_scam" class="btn btn-yellow btn-medium btn-rounded btn-trans btn-margin">Verify Now</a>
        </div>
    </div>
</div>

</section>


<!-- End Home -->




<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>

<style>
  .chart-section {
      display: none;
  }
  
  .chart-section.active {
      display: block;
  }

  .title-home {
    position: absolute; 
    top: 30%; left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
    text-align: center; 
    
  }

  .title-h1 {
    font-size: 55px;
    font-weight: 500;
    margin-top: -30px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
</style>


<section style="padding: 2.5rem 0; padding-bottom: 0;">
  <h1 class="title-h1 fact-percentage" style="font-size: 40px; text-align: center; font-weight: 600; margin-top: 1%; margin-bottom: 2%;">Australia's Scam Trends Overview</h1>
  <div class="radio-buttons" style="width: 80%; margin: auto; margin-top: 1%;">
    <h5>Select a Chart Based on the Following Categories:</h5>
    <input type="radio" id="chart1" name="chart" value="chart1" checked>
    <label for="chart1">Age-Based Scam Trends</label>

    <input type="radio" id="chart2" name="chart" value="chart2">
    <label for="chart2">Scam Occurrences by State</label>

    <input type="radio" id="chart3" name="chart" value="chart3">
    <label for="chart3">Loss by Scam Type</label>
  </div>
</section>

<!-- Wrap each chart section within a div with a unique id -->
<section>
<div id="chart1-section" class="chart-section active">

   <!-- ... your first chart ... -->
    <div style="margin-left: 190px; margin-right: 200px;">
      <div class="row">
        <div class="col-md-7">
          <div id="echarts-example-main" style="width: 100%; height: 400px;"></div>
        </div>
        <div class="col-md-5" style="margin-top: 90px;">
          <div class="right-container">
            <div class="piechart_context-part1">
              <p style="text-align: justify;">This pie chart shows the most serious reported percentage of persons across age groups. Reported in person refers to the total number of persons who reported the most serious scam incident to an authority, expressed as a percentage of the total number of persons who experienced a scam during 2021-22.
              </p>
            </div>
            <br> <!-- This creates a new line -->
            <div class="piechart_context-part2">
              <p style="text-align: justify;">Statistics show people over 65 have the highest rate of experiencing serious scams while people under 24 with the least probability of being scammed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="chart2-section" class="chart-section">
   <!-- ... your second chart ... -->
   <div style="margin-left: 190px; margin-right: 200px;">
      <div class="row">
        <div class="col-md-8">
          <div id="echarts-component-main" style="width: 100%; height: 400px;"></div>
        </div>
        <div class="col-md-4 right-container">
            <label class="select-align" for="select">Select a Year:</label>

            <select name="pets" id="select" style="background-color: #24262d;">
              <!-- <option value="">--Please select Year--</option> -->
              <option value="2014-15">2014-15</option>
              <option value="2020-21">2020-21</option>
              <option value="2021-22">2021-22</option>
            </select>
            <div class="right-container">
              <p style="text-align: justify;">This bar chart shows people experienced scams in various states and territories during specific years. 
              The data indicates that both New South Wales and Victoria have consistently recorded the highest occurrences of scams.</p >
            </div>
        </div>
    </div>
</div>
</div>
   <!-- ... your third chart ... -->
<div id="chart3-section" class="chart-section">

  <div class="row "  style=" margin-left: 100px; margin-right: 200px;">
    <div class="col-md-9">
        <!-- Add some padding to the right to push the chart a bit to the left -->
        <div id="echarts-scamtype-main" style="width: 100%; height: 400px; padding-right: 120px; margin-right: 10px;"></div>
    </div>
    <div class="col-md-3" style="height: 400px;"> 
        <!-- Add some padding to the left to push the p tag a bit to the right -->
        <div class="p-container">
            <p style="text-align: justify;">
              This chart illustrates "Loss by scam types" reveals investment scams as the highest scam type, accounts for about 66% of all total loss, followed closely by dating & romance, false billing, and phishing scams, presenting a clear hierarchy in terms of financial impact during 2022.</p>
        </div>
    </div>
</div>
</div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      // Initialize your ECharts instances here, and configure them as needed.
      const chart1Instance = echarts.init(document.getElementById('echarts-example-main'));
      // Your chart1Instance initialization logic here...
      var chartDom = document.getElementById('echarts-example-main');
      var myChart = echarts.init(chartDom);
      var option;

      // Your data
      var ageGroups = [
        '15-24', '25-34', '35-44', '45-54', '55-64', '65-65+'
      ];

      var reportedScams = [26.3, 60.7, 50.4, 58.3, 52.0, 70.1];

      // Options for the pie charts
      option = {
        // backgroundColor: '#333333',
        title: {
          text: 'Australia reported scam distribution by age group 2021-22',
          left: 'top',
          textStyle: {
            color: "white",
            fontWeight: 'bold',
            fontSize: 18
            
          }
        },
        series: [
          createPieSeries('Reported Scams', reportedScams, '40%', 'Reported Scams')

        ]
      };

      function createPieSeries(name, data, centerX, label) {
        return {
          name: name,
          type: 'pie',
          radius: ['40%', '55%'],
          center: [centerX, '50%'], // Adjust the centerX for placement
          label: {
            show: true, // Show labels
            fontSize: 12, // Label font size
            formatter: '{b}: {d}%', // Label format
            fontWeight: 'bold',
            color: "white",
          },
          emphasis: {
            label: {
              show: true,
              fontSize: 15,
              fontWeight: 'bold',
              color: "white"
            }
          },
          data: ageGroups.map((ageGroup, index) => ({
            name: ageGroup,
            value: data[index]
          })),
          labelLine: {
            show: true // Hide label lines
          },
          labelLayout: {
            moveOverlap: label === 'Reported Scams' // Move overlapping labels for the first chart
          }
        };
      }

      option && myChart.setOption(option);
      
      const chart2Instance = echarts.init(document.getElementById('echarts-component-main'));
      // Your chart2Instance initialization logic here...
      const renderBarPlot = (data) => {
      var app = {};

      var chartDom = document.getElementById('echarts-component-main');
      var myChart = echarts.init(chartDom);
      var option;

      const posList = [
        'left',
        'right',
        'top',
        'bottom',
        'inside',
        'insideTop',
        'insideLeft',
        'insideRight',
        'insideBottom',
        'insideTopLeft',
        'insideTopRight',
        'insideBottomLeft',
        'insideBottomRight'
      ];
      app.configParameters = {
        rotate: {
          min: -90,
          max: 90
        },
        align: {
          options: {
            left: 'left',
            center: 'center',
            right: 'right'
          }
        },
        verticalAlign: {
          options: {
            top: 'top',
            middle: 'middle',
            bottom: 'bottom'
          }
        },
        position: {
          options: posList.reduce(function (map, pos) {
            map[pos] = pos;
            return map;
          }, {})
        },
        distance: {
          min: 0,
          max: 100
        }
      };
      app.config = {
        rotate: 90,
        align: 'left',
        verticalAlign: 'middle',
        position: 'insideBottom',
        distance: 15,
        onChange: function () {
          const labelOption = {
            rotate: app.config.rotate,
            align: app.config.align,
            verticalAlign: app.config.verticalAlign,
            position: app.config.position,
            distance: app.config.distance
          };
          myChart.setOption({
            series: [
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              },
              {
                label: labelOption
              }
            ]
          });
        }
      };
      const labelOption = {
        show: true,
        position: app.config.position,
        distance: app.config.distance,
        align: app.config.align,
        verticalAlign: app.config.verticalAlign,
        rotate: app.config.rotate,
        formatter: '{c}  {name|{a}}',
        fontSize: 14,
        rich: {
          name: {},
          c: {
            color: 'white',
          },
        },
      };


      option = {
        legend: {
          data: ['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT'],
          right: 'top',
          textStyle: {
            color: 'white',
          },
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        toolbox: {
          show: true,
          orient: 'vertical',
          left: 'right',
          top: 'center',
          feature: {
            mark: { show: true },
            dataView: { show: true, readOnly: false },
            magicType: { show: true, type: ['line', 'bar', 'stack'] },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        xAxis: {
          type: 'category',
          data: ['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT'],
          axisLabel: {
            textStyle: {
              color: "white",
              fontSize: 14, // Adjust the font size here
              fontWeight: 'bold' // Make the font bold
            }
          }
        },
        yAxis: [
          {
            min: 0,
            max: 300,
            type: 'value',
            axisLabel: {
              formatter: '{value}', // Format the label as 1,000 people 

              textStyle: {
                color: "white",
                fontSize: 14, // Adjust the font size here
                fontWeight: 'bold' // Make the font bold
              }


            }
          }
        ],
        series: [
          {
            data: data,
            type: 'bar'
          }
        ]
      };
      // Add title configuration
      option.title = {
        // backgroundColor: '#333',
        text: 'Australian experienced scams by state per 1000 people', // Title text
        left: 'top', // Position the title in the center
        textStyle: {
          color: "white",
          fontSize: 18, // Font size of the title
          fontWeight: 'bold', // Font weight of the title
        },
      };
      option && myChart.setOption(option);
    }


    // Get the select element by its ID
    const selectElement = document.getElementById("select");
    const barData = {
      "2014-15": [123.9, 146.8, 76.0, 27.9, 59.4, 12.2, 3.4, 4.7],
      "2020-21": [248.9, 209.6, 116.0, 45.8, 74.9, 16.3, 3.2, 8.8],
      "2021-22": [211.7, 128.7, 75.4, 36.9, 70.0, 15.5, 3.8, 9.4],
    }
    // Add an event listener for the "change" event
    selectElement.addEventListener("change", function () {
      // Get the selected value
      const selectedValue = selectElement.value;



      // Display the selected value
      console.log(selectedValue)
      renderBarPlot(barData[selectedValue]);
    });

    renderBarPlot(barData["2014-15"]);

      
      const chart3Instance = echarts.init(document.getElementById('echarts-scamtype-main'));
      // Your chart3Instance initialization logic here...
      
      // Map section ids to corresponding chart instances
      const chartInstances = {
          'chart1-section': chart1Instance,
          'chart2-section': chart2Instance,
          'chart3-section': chart3Instance
      };
      
      const radioButtons = document.querySelectorAll('input[name="chart"]');
      const sections = document.querySelectorAll('.chart-section');
      
      radioButtons.forEach((radioButton) => {
          radioButton.addEventListener('change', () => {
              sections.forEach((section) => {
                  section.classList.remove('active'); 
              });
              
              const selectedSectionId = radioButton.value + '-section';
              const selectedSection = document.getElementById(selectedSectionId);
              if (selectedSection) {
                  selectedSection.classList.add('active');
                  
                  // Resize the corresponding chart instance.
                  const chartInstance = chartInstances[selectedSectionId];
                  if (chartInstance) chartInstance.resize();
              }
          });
      });
  });
</script>

    <!-- Second Chart -->

<section class="home bg-black">
  <h1 class="title-h1 fact-percentage" style="font-size: 40px; text-align: center; font-weight: 600; margin-bottom: 2%;">Our Features</h1>
  <div class="container">
    <div class="row">
      <!-- Feature 1 -->
      <div class="col-md-3 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s">
          <div class="feature-item text-center">
              <div class="feature_header">
                  <span class="feature_header_text underline">Check for scam</span>
                  <div>
                      <p class="feature_header_content">Answer a few quick questions and we will tell you if a message is suspicious.</p>
                  </div>
                  
              </div>
              <a href="{{ url_for('scam') }}#scam" class=" btn btn-medium btn-rounded btn-trans btn-margin centered-button">Go and Find</a>
          </div>
      </div>
      <!-- Feature 2-->
      <div class="col-md-3 wow slideInUp" data-wow-duration="1s" data-wow-delay=".6s">
          <div class="feature-item text-center">
              <div class="feature_header">
                  <span class="feature_header_text underline">Scam Detector</span>
                  <p class="feature_header_content">Amidst the rising tide of phishing attacks, explore this tool to identify email and SMS scams and safeguard yourself.</p>
              </div>
              <a href="{{ url_for('detect_scam') }}#detect_scam" class=" btn btn-medium btn-rounded btn-trans btn-margin centered-button">Lets Start</a>
          </div>
      </div>
      <!-- Feature 3-->
      <div class="col-md-3 wow slideInUp" data-wow-duration="1s" data-wow-delay=".6s">
          <div class="feature-item text-center">
              <div class="feature_header">
                  <span class="feature_header_text underline">Email leaked?</span>
                  <p class="feature_header_content">Concerned about email security? Check if your email has been leaked or not.</p>
              </div>
              <a href="{{ url_for('checkemail') }}#checkemail" class="btn btn-medium btn-rounded btn-trans btn-margin centered-button">Check Now</a>
          </div>
      </div>

      <!-- Feature 4-->
      <div class="col-md-3 wow slideInRight" data-wow-duration="1s" data-wow-delay=".3s">
          <div class="feature-item text-center">
              <div class="feature_header">
                  <span class="feature_header_text underline">Validate a URL</span>
                  <p class="feature_header_content">Enter any URL here to find out whether it is safe or not before clicking it.</p>
              </div>
              <a href="{{ url_for('resources') }}#resources" class="scroll btn btn-medium btn-rounded btn-trans btn-margin centered-button">Validate Now</a>
          </div>
      </div>
      
  </div>
  </div>
</section>

<section id="home-scamtypes" style="padding: 50px;">
  <div class="container">
    <h1 class="title-h1 fact-percentage" style="font-size: 40px; text-align: center; font-weight: 600; margin-top: 1%; margin-bottom: 3%;">Common Types of Scams in Australia</h1>

      <ul style="list-style-type: none;">
        <p class="justified-text">• <span class="fact-percentage">Investment Scams:</span> These scams offer fake money-making opportunities to prey on the victim's enthusiasm and steal their cash.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Dating & Romance Scams:</span> Scammers use dating or friendship platforms to manipulate and convince individuals to give them money, leaving victims both broke and broken-hearted.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">False Billing:</span> Victims are falsely invoiced or charged for services they did not request or receive.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Phishing:</span> These scams involve attempts to trick individuals into providing sensitive data like passwords or credit card numbers.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Jobs & Employment Scams:</span> Scammers offer a ‘guaranteed’ way to make fast money or a high-paying job for little effort to trick individuals into handing over their money.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Remote Access Scams:</span> Scammers trick individuals into granting them access to their computers, potentially stealing data or injecting malware.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Threats to Life, Arrest or Other:</span> These scams involve threats to the victim's life or well-being to extort money or personal information.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Identity Theft:</span> These scams involve using someone else's identity to steal money or gain other benefits.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Rebate Scams:</span> Victims are lured by the promise of a rebate or refund, often for taxes or other expenses, only to be defrauded.</p>
        <br>
        <p class="justified-text">• <span class="fact-percentage">Classified Scams:</span> These scams target individuals selling items or properties on classified ads platforms by posing as genuine buyers or sellers.</p>
        <br><br>

        
      </ul>
      
      <div style="text-align: center; margin-top: 20px;">
          <a href="{{ url_for('resources') }}#resources" class="btn btn-medium btn-rounded btn-trans  btn-primary">Learn More About Types of Scams</a>
      </div>
  </div>
</section>

<!-- Importance of Passkeys Section -->
<section class="bg-black">
  <div class="container container-position">
    <h1 class="title-h1 fact-percentage" style="font-size: 40px; text-align: center; font-weight: 600; margin-bottom: 5%;">The Importance of Passkeys</h1>
      <!-- First Row -->
      <div class="row no-gutters align-items-center padding-bottom-half wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-div " id="passkeys">
              <h2 class="h2-subheadings">What are passkeys?</h2>
              <p class="justified-text" style="padding-right: 2%; padding-left: 4%;">
                  Passkeys are a more secure and convenient way to access your accounts and devices without traditional passwords. These passkeys are unique to you and can come in various forms, such as:
              </p>
              <br>
              <ul class="justified-text" style="padding-right: 2%; padding-left: 4%;">
                  <li><span class="fact-percentage">Biometrics:</span> Your fingerprint, face scan, or even your voice can serve as a passkey. Devices like smartphones and laptops use these biometric features to verify your identity.</li>
                  <br>
                  <li><span class="fact-percentage">Hardware Tokens:</span> Some systems provide physical hardware tokens, like USB keys or smart cards, that you plug into your device to prove your identity.</li>
                  <br>
                  <li><span class="fact-percentage">One-Time Codes:</span> Passkeys can also be generated as one-time codes and sent to your trusted device, which you enter to access your account.</li>
                  <br>
                  <li><span class="fact-percentage">Email Magic Links:</span> Instead of entering a password, you receive an email link that, when clicked, serves as your passkey to log in.</li>
              </ul>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 4%;">
              <div class="video-container">
                  <iframe width="100%" height="450" src="https://www.youtube.com/embed/2xdV-xut7EQ" title="Understand passkeys in 4 minutes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>

  <!-- Tiles -->
  <div class="container">
  <div class="row mt-5 d-flex align-items-stretch">
    <!-- Apple Passkey Tile -->
    <div class="col-md-6 d-flex">
        <a href="{{ url_for('resources') }}#applepasskey" class="passkey-tile apple-tile flex-fill d-flex flex-column justify-content-center">
            <h3 style="font-weight: 400;">Learn How to Use Apple Passkey</h3>
            <p style="font-family:'Montserrat', sans-serif;">Discover the steps and benefits of implementing Apple's secure authentication method.</p>
        </a>
    </div>

    <!-- Google Passkey Tile -->
    <div class="col-md-6 d-flex">
        <a href="{{ url_for('resources') }}#googlepasskey" class="passkey-tile google-tile flex-fill d-flex flex-column justify-content-center">
            <h3 style="font-weight: 400;">Learn How to Use Google Passkey</h3>
            <p style="font-family:'Montserrat', sans-serif;">Get started with Google's advanced authentication and protect your accounts.</p>
        </a>
    </div>
</div>
  </div>
</section>

<!-- Styles for the Tiles -->
<style>
  .passkey-tile {
      display: block;
      padding: 20px;
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      transition: 0.3s;
      text-align: center;
      color: black;
      width: 50%;
      font-family: 'Montserrat', sans-serif;
  }

  .passkey-tile:hover {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transform: translateY(-7px);
      background-color: yellow;
      color: black;
  }

  .apple-tile {
      background-color: #f4f5f7;
  }

  .google-tile {
      background-color: #f9f9f9;
  }

  .section-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
  }

  .justified-text {
      text-align: justify;
  }
</style>





<script>
  var chartDom = document.getElementById('echarts-scamtype-main');
  var myChart = echarts.init(chartDom);
  var option;

  option = {
      title: {
          text: "Financial loss by scam type in 2022 (AU$)",
          left: 'center',
          textStyle: {
              color: "white",
              fontWeight: 'bold',
              fontSize: 18
          }
      },
      tooltip: {
          trigger: 'axis',
          axisPointer: {
              type: 'shadow'
          },
          formatter: function(params) {
              var desc = '';
              switch (params[0].name) {
                  case 'Investment scams':
                      desc = 'Scammers make it look like you can make a lot of money investing with them.';
                      break;
                  case 'Dating & romance':
                      desc = 'Scammers exploit people looking for romantic partners.';
                      break;
                  case 'False billing':
                      desc = 'Scammers request you to pay fake invoices.';
                      break;
                  case 'Phishing':
                      desc = 'Scammers impersonate trusted brands to steal personal information.';
                      break;
                  case 'Remote access scams':
                      desc = 'Scammers trick you into installing malicious software.';
                      break;
                  case 'Threats to life, arrest or other':
                      desc = 'Scammers threaten to reveal compromising information.';
                      break;
                  case 'Identity theft':
                      desc = 'Scammers steal personal information to commit fraud.';
                      break;
                  case 'Jobs & employment scams':
                      desc = 'Scammers promise high paying jobs or investment opportunities.';
                      break;
                  case 'Online shopping scams':
                      desc = 'Scammers trick you into buying fake goods.';
                      break;
                  case 'Classified scams':
                      desc = 'Scammers sell fake goods or services.';
                      break;
              }
              return `${params[0].name}: AU$${params[0].data.value.toLocaleString()}<br>${desc}`;
          }
      },
      grid: {
          left: '10%',
          right: '4%',
          bottom: '3%',
          containLabel: true
      },
      xAxis: {
          type: 'value',
          boundaryGap: [0, 0.01],
          axisLabel: {
              textStyle: {
                  color: "white",
                  fontSize: 14,
                  fontWeight: 'bold'
              }
          }
      },
      yAxis: {
          type: 'category',
          data: [
              'Investment scams',
              'Dating & romance',
              'False billing',
              'Phishing',
              'Remote access scams',
              'Threats to life, arrest or other',
              'Identity theft',
              'Jobs & employment scams',
              'Online shopping scams',
              'Classified scams'
          ],
          axisLabel: {
              textStyle: {
                  color: "white",
                  fontSize: 12,
                  fontWeight: 'bold'
              }
          }
      },
      series: [
          {
              name: '2021-22',
              type: 'bar',
              center: ['25'],
              data: [
                  { value: 377252430, itemStyle: { color: '#5470c6' } },
                  { value: 40675825, itemStyle: { color: '#5470c6' } },
                  { value: 25312185, itemStyle: { color: '#5470c6' } },
                  { value: 24617192, itemStyle: { color: '#5470c6' } },
                  { value: 21744454, itemStyle: { color: '#5470c6' } },
                  { value: 13934433, itemStyle: { color: '#5470c6' } },
                  { value: 10738029, itemStyle: { color: '#5470c6' } },
                  { value: 9695719, itemStyle: { color: '#5470c6' } },
                  { value: 9261357, itemStyle: { color: '#5470c6' } },
                  { value: 8465343, itemStyle: { color: '#5470c6' } }
              ]
          }
      ]
  };

  option && myChart.setOption(option);
</script>


  <style>
    .statisticsgap_bar {
      padding: 20px 0 0 0;
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .lastbarchart_context {
      width: 25%;
      margin-left: 40px;
      padding-top: 50px;
    }

    .select-align {
      margin-left: 50px;
    }

    .p-container {
    display: flex;
    justify-content: center;   /* Horizontally center content */
    align-items: center;       /* Vertically center content */
    height: 100%;              /* Take full height of parent container */
}

  </style>

  <style>
    .statisticsgap {
    padding: 20px 0 0 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.piechart_context {
    width: 30%;
    margin-left: 10%;
    padding-top: 80px;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ff9900;
    border-radius: 8px;
}

.radio-buttons h5 {
    margin-bottom: 10px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.radio-buttons input[type='radio'] {
    display: none;
}

.radio-buttons > label {
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-right: 10px;
}

.radio-buttons input[type='radio'] + label::before {
    content: '';
    display: none;  /* Hide by default */
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.radio-buttons input[type='radio']:checked + label::before {
    display: none;  /* Show when radio input is checked */
}

.radio-buttons > label:last-child {
    margin-right: 0;
}


.radio-buttons input[type='radio']:checked + label {
    background-color: yellow;
    color: black;
}

.radio-buttons input[type='radio']:checked + label::before {
    background-color: yellow;
    border-color: black;
}


.radio-buttons > label:hover {
    background-color: #e0e0e0;
}

.radio-buttons > label:hover::before {
    border-color: yellow;
}

/* Reduce font size for smaller screens */
@media (max-width: 800px) {
    .radio-buttons > label {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .radio-buttons > label {
        font-size: 12px;
    }
}





  </style>





<!-- Start Footer -->
<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <!-- Social -->
      <!-- Text -->
      <div class="col-12 text-center mt-3" style="top: 80px;">
        <p class="company-about fadeIn">© 2023 Made By <a href="javascript:void(0);">Team Code for Good</a></p>
        <!-- Contact us -->
        <p class="contact-us">Contact us: &nbsp;<a href="mailto:fit5120team27@gmail.com"><i class="fas fa-envelope"></i> fit5120team27@gmail.com</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!-- Start Scroll Top -->
<div class="go-top"><i class="fas fa-angle-up"></i><i class="fas fa-angle-up"></i></div>
<!-- End Scroll Top -->


<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/bundle.min.js') }}"></script>

<!-- Plugin Js -->
<script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
<script src="{{ url_for('static', filename='js/morphext.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parallaxie.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cubeportfolio.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>

<!-- CUSTOM JS -->
<script src="{{ url_for('static', filename='js/contact_us.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>