<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        
        <!-- Page Title -->
        <title>NoMoreScamTricks | Account Safety</title>
        <!-- Favicon -->
        <link href="{{ url_for('static', filename='resources/images/shield_tab_icon.png') }}" rel="icon">
        <!-- Bundle -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bundle.min.css') }}">
        <!-- Plugin Css -->
        <link href="{{ url_for('static', filename='css/wow.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/LineIcons.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/cubeportfolio.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/line-awesome.min.css') }}" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <!-- Style Sheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    </head>
    
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
    
    <!-- Start Header -->
    <header id="safety">
        <div class="top-banner bg-trans-color transparent-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                        <div class="logo-center">
                            <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='/resources/images/shield_yellow.png') }}" alt="LOGO IMAGE">
    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
            <div class="container">
                <div class="collapse navbar-collapse" id="navheader">
                    <div class="navbar-nav  ml-auto mr-auto">
                        <a class="nav-link line" href="{{ url_for('iteration1.index') }}#home">Home</a>
                        <a class="nav-link line" href="{{ url_for('iteration1.scam') }}#scam">Is this a scam?</a>
                        <!-- <a class="nav-link line" href="{{ url_for('safemethods') }}">Account Safety</a> -->
                        <a class="nav-link line" href="{{ url_for('iteration1.statistics') }}#statistics">Statistics</a>
                        <!-- <a class="nav-link line" href="{{ url_for('iteration1.report') }}">Reporting and Resources</a> -->
                    </div>
                </div>
            </div>
        </nav>
    </header>
<!-- End Header -->

<!-- Title -->
<!-- <section class="safety bg-black overflow-hidden" id="safety">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 heading-area text-center wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="main-title text-lg-left mb-0 wow fadeInUp" data-wow-delay="300ms">
                    <h2 class="wow fadeInUp heading" data-wow-delay="400ms" style="text-align: center;">Is your account safe? <span style="display: block; text-align: center; color: yellow;" class="js-rotating">find out, protect yourself</span></h2>

            </div>
            <div class="h5-center">
                <h5 class="h5-center">Answer a few questions about your message and we will let you know if it is suspicious</h5>
            </div>
            <div class="checkButton">
                <a href="scam.html#quiz" class="scroll btn btn-medium btn-rounded btn-trans btn-margin">Check</a>
            </div>
        </div>
    </div>
</section> -->
<!-- End Title -->











<!-- Start Footer -->
<footer class="footer bg-black">
    <div class="container">
        <div class="row align-items-center">
            <!--Social-->
            <!--Text-->
            <div class="col-12 text-center mt-3" style="top: 80px;">
                <p class="company-about fadeIn">© 2023 Made By <a href="javascript:void(0);">Team Code for Good</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Scroll Top -->
<div class="go-top"><i class="fas fa-angle-up"></i><i class="fas fa-angle-up"></i></div>
<!-- End Scroll Top -->

<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/bundle.min.js') }}"></script>

<!-- Plugin Js -->
<script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
<script src="{{ url_for('static', filename='js/morphext.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parallaxie.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cubeportfolio.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>

<!-- CUSTOM JS -->
<script src="{{ url_for('static', filename='js/contact_us.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>